<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.GanBeAnan"
        tools:targetApi="31">
        <activity
            android:name=".screens.ChildReportActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ChildReports"
            android:exported="false" />
        <activity
            android:name=".screens.MyChildren"
            android:exported="false" />
        <activity
            android:name=".screens.ShowReport"
            android:exported="false" />
        <activity
            android:name=".screens.ChildInfo"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screens.EditUser"
            android:exported="false" />
        <activity
            android:name=".screens.HomePage"
            android:exported="false" />
        <activity
            android:name=".screens.ChildrenList"
            android:exported="false" />
        <activity
            android:name=".screens.DailyReport"
            android:exported="false" />
        <activity
            android:name=".screens.AllUsers"
            android:exported="false" />
        <activity
            android:name=".screens.SendAPublicMessage"
            android:exported="false" />
        <activity
            android:name=".screens.AddUserTeam"
            android:exported="false" />
        <activity
            android:name=".screens.AddChild"
            android:exported="false" />
        <activity
            android:name=".screens.Login"
            android:exported="false" />
        <activity
            android:name=".screens.Register"
            android:exported="false" />
        <activity
            android:name=".screens.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>